.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Transition Group Styling */
.todo-enter {
  opacity: 0;
}
.todo-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}
.todo-exit {
  opacity: 1;
}
.todo-exit-active {
  opacity: 0;
  transition: opacity 0.5s;
}
